@page
@using Nhom2_Chieu5_DoAnMonHoc_WebBanQuanAo.Areas.Identity.Pages.Account
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}