@page
@using Nhom2_Chieu5_DoAnMonHoc_WebBanQuanAo.Areas.Identity.Pages.Account
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}